/*önálló fejléc-mező cella*/
.regrow {
	font-family: Arial;
   	color: white;
   	background-color: black;
}

.fejlec {
	font-family: Arial;
	font-weight: bold;
   	font-size: 11px;
}

.kep{
	width:100%;
	padding-top:1px;
}

.bal{
	float: left;
	width: 23%;
	font-family: Arial;
	font-size:12px;
	text-align:justify;
}

.jobb {
	float: right;
   	width: 75%;
   	font-family: Verdana,Sans-serif;
   	font-size: 12px;
	text-align: justify;
}

.c {
	text-align: center;
}

.keret{
	border: solid black 1px;
	padding:1px;
}

.lt{
	padding:10px;
}